<div class="row mb-5">
    <div class="col-md-4">
        <h2 class="text-center px-3 mb-0">
            <b>
                {{character.name}}
            </b>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <img height="220px" class="p-3" src="{{character.getImageUrl()}}">
    </div>
    <div class="col-md-8">
        <div class="character bg-secondary">
            <div class="data py-4 px-5">
                <p class="lead border-bottom">      <b>Character data</b></p>
                <p class="ml-2">Gender:             {{character.gender}}</p>
                <p class="ml-2">Birth year:         {{character.birth_year}}</p>
                <p class="ml-2">Eye color:          {{character.eye_color}}</p>
                <p class="ml-2">Skin color:         {{character.skin_color}}</p>
            </div>
            <div class="data py-4 px-5">
                <p class="lead border-bottom">
                    <b>Species:</b> 
                </p>
                <specie *ngFor="let specie of character.species" [specie]="specie"></specie>
            </div>
            <div class="data py-4 px-5">
                <p class="lead border-bottom">
                    <b>Films:</b>
                </p>
                <film *ngFor="let film of character.films" [film]="film"></film>
            </div>
        </div>
    </div>
</div>