<div class="row">
    <div class="col-lg-3 my-2" *ngFor="let item of characters">
        <div class="card text-center py-3"  (click)="goToCharacter(item)">
            <img *ngIf="item.species.length" style="margin: 0 auto" class="text-center mb-1" width="150px" height="150px" src="{{item.getImageUrl()}}">
            <div class="card-body">
                <h5 class="card-title text-center mb-0">{{item.name}}</h5>
                <p class="specie mb-0">{{item.getSpecie()}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center pt-3">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="9"
        (pageChanged)="pageChanged($event)"></pagination>
</div>