/* You can add global styles to this file, and also import other style files */

$primary : #010101;
$secondary : #FAC223;

body{
    background-color: $primary;
    color: $secondary;
    section{
        .container{
            padding: 50px 0px;
        }
    }

}

.navbar{
    background-color: transparent;
    *{
        color: $secondary;

    }
}

.card{
    &:hover{
        cursor: pointer;
    }
    background-color: $secondary;
    border-radius: 0px;
    border:0px;
    color: $primary;
    height: 100%;
    .specie{
        font-size: 12px;
    }

    p{
        color: lighten($primary,15)        
    }
}

ul.pagination{
    border-radius: 0px;
    .page-item{
        &.disabled{
            a{
                background-color: transparent;
            }
        }
        a{
            background-color: transparent;
            color: $secondary;
            border:0px;
            &:hover{
                background-color: rgba($secondary,.7);
            }
    
        }
        &.active{
            a{
                background-color: $secondary;
                color: $primary;  
            }
        }

    }
}

.btn-outline-dark{
    color: $primary;
    border-color: $primary;
}

.bg-secondary{
    background-color: $secondary !important;
    color: $primary;
}

.character{
    display:flex;
    height: 100%;
}

small.button{
    cursor: pointer;
}

film li,specie li{
    list-style: none;
}

.dropdown-menu{
    background-color: $secondary;
    border-radius: 0px;
    a,.dropdown-item:hover{
        color: $primary;
        background-color: transparent;
    }
    .dropdown-item:hover{
        font-weight: 700;
    }
}