<nav class="navbar navbar-expand-lg static-top p-0">
        <div class="container">
          <a class="navbar-brand" href="#"><img height="100px" src="assets/images/logo.png"></a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Characters
                </a>
              </li>
            </ul>
            <div class="btn-group navbar-nav ml-3" *ngIf="latestCharacters.length" dropdown triggers="hover" >
                <a href id="basic-link" dropdownToggle (click)="false"
                aria-controls="basic-link-dropdown" >Latest characters</a>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem" *ngFor="let item of latestCharacters">
                    <a class="dropdown-item" [routerLink]="['/character', item.id]" routerLinkActive="router-link-active" >{{item.name}}</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </nav>